<h1>Create a new post</h1>

<%= form_with :model => @post do |form| %>
  <p>
    <%= form.label "Title" %>
    <%= form.text_field "title" %>
  </p>
  <p>
    <%= form.label "Description" %>
    <%= form.text_field "description" %>
    <%= form.label "Posted on" %>
    <%= form.text_field "posted_on" %>
  </p>
  <!-- So we can transfer state from the previous action to the next -->
  <%= form.hidden_field "place_id" %>
  <%= form.submit %>
<% end %>